<h1>Bienvenido a la app</h1>
<p>
  Puedes encontrar la lista de los libros o autores que tenemos registrados.
</p>

<%= link_to 'Lista de libros', controller: :books %>
<%= link_to 'Lista de autores', controller: :authors %>
